* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #003333;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 430px;
  padding: 20px;
}

.card-box {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Wallet Logo Rounded (50px radius) */
.wallet-logo {
  width: 75px;
  height: 75px;
  object-fit: contain;
  margin-bottom: 10px;
  border-radius: 50px;
}

.input-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-area input,
.input-area textarea {
  width: 90%;
  max-width: 350px;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #bbb;
  font-size: 15px;
  height: 120px;
  resize: none;
}

textarea {
  height: 120px;
  resize: none;
}

.wallet-btn {
  width: 90%;
  background: teal;
  padding: 13px;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.wallet-btn:hover {
  background: #005a54;
}

.confirm-text {
  margin-top: 5px;
  font-size: 13px;
  color: #333;
}

/* POPUP FIXED */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(6px);
  width: 320px;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}

.close-btn {
  background: #003333;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 30px;
}
